.button {
  border: none;
  border-radius: 3px;
  background-color: #334FB9;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  padding: 6px 12px;

  &:hover {
    background-color: #263C8B;
  }
}