.status {
  text-align: center;
  color:#334FB9;

  &__icon {
    font-size: 54px;
  }

  &__heading {
    font-size: 28px;
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__description {
    color: #21357A;
  }

  &__button {
    margin-top: 10px;
  }
}