.author-inline {

  &__name {
    margin: 0;
    margin-bottom: 8px;
    color:#505050;
  }

  &__birthday {
    font-size: 14px;
  }

  &__info {
    font-size: 16px;
    line-height: 1.4;
    margin: 15px 0;
  }

  &__books {
    font-size: 12px;
  }

}